/**
Color palettes
background dark blue #383961 rgb(56,57,97)

navbar etc. light blue #5F758E rgb(95,117,142)


light accents #DBDFAC rgb(219,223,172)

red #DB162F rgb(219,22,47)

dark accents #3B1F2B rgb(59,31,43)

**/

/* All animations collected here*/

@keyframes imagehover {
  0% {opacity: 1}
  100% {opacity: 0.5}
}

/*All pages section*/

p, ol, ul, span, a, td, tr, address, h6, .card{
  font-family: "Merriweather", serif;
}

h1, h2, h3, h4, h5, footer{
  font-family: "Inria Serif", serif;
}

h1{
  color: White;

}

h2{
  color: rgb(219,223,172);
}

img{
  border-radius: 6px;
}

.flex-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

a.plain{
  text-decoration: none;
  color: white;
}

/*Navbar section*/

.navbar{
  background-color: rgb(95,117,142);
}

.navbar a{
  font-family: "Merriweather", serif;
}

.dropdown-menu{
  background-color: rgb(95,117,142);
}

.dropdown-item{
  color: White;
}

/*all buttons*/

.btn-primary{
  background-color: rgba(219,223,172, 0.5);
  color: rgb(59,31,43);
  padding: 1rem;
  border: solid rgb(219,223,172);
  border-radius: 6px;
}

.btn-primary:hover, .btn-primary:active{
  background-color: rgb(219,223,172);
  color: black;
  padding: 1rem;
  border: solid rgb(219,223,172);
  border-radius: 6px;
}

.btn-secondary{
  background-color: rgb(59,31,43);
}

.btn-secondary:hover, .btn-secondary:active{
  background-color: rgb(219,22,47);
}
}
/*index.html only*/

.icon-logo {
    background-image: url("./logo.png");
    background-position: center center;
    background-size: 16px;
}


.imgblock{
  width: 20em;
  height: 20em;
  margin-bottom: 3em;}

.imgblock:hover{
  animation: imagehover;
  animation-duration: 1s;
}

.container .jumbotron {
    border-radius: 6px !important;
}


.container .carousel {
  border-radius: 6px !important;
}


#homepage{
  background-image: url("./kayukayu.jpg");
  background-size: cover;
}

#products{
  background-image: url(./products.jpg);
  background-size: cover;
  background-position: center;
}

#products:hover, #products:active{
  transition: imagehover;
  transition-timing-function: linear;
}

#production{
  background-image: url(./production.jpg);
  background-size: cover;
  background-position: center;
}

#production:hover, #production:active{
  animation: imagehover;
  animation-duration: 5s;
  animation-delay: 2s;
}

/*Jobs Page*/

#get-margin-4{
  margin-top: 4rem;
}


/*for forms*/

#form{
  display: flex;
  justify-content: space-around;
}

textarea{
  width: 27rem;
}

/*products page*/

#scrollspy-factory{
  position: relative;
  height: 100px;
  overflow-y: scroll;
}


/*for footer*/

.material-icons{
  size:
}

#small{
  font-size: 0.75rem;
}

footer.bg-dark{
  color: rgb(219,223,172);
  background-color: rgb(59,31,43) !important;
}
