/**
Color palettes
Dark Blue #124559
Blue #1FA6A6
Light orange #F2BF5E
Pink #F25E5E
Light White #FFFFFF
**/

@keyframes imagehover {
  0% {opacity: 1}
  100% {opacity: 0.5}
}


body{
  background-color: #FFFFFF;
}

p, ol, ul, span, a, td, tr, address, h6, .card{
  font-family: "Fira Sans", sans-serif;
}

h1, h2, h3, h4, h5, footer{
  font-family: "Montserrat", sans-serif;
}

h1{
  color: White;

}

span.highlight{
  background-color: rgba(191, 191, 191, 0.5);
  padding: 0.25rem;

}

.btn-primary{
  background-color: rgba(191, 191, 191, 0.3);
  color: white;
  padding: 1rem;
  border: solid white;
  border-radius: 6px;
}

.btn-primary:hover, .btn-primary:active{
  background-color: rgba(191, 191, 191, 0.5);
  color: black;
  padding: 1rem;
  border: solid white;
  border-radius: 6px;
}



.flex-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.icon-logo {
    background-image: url("./logo.png");
    background-position: center center;
    background-size: 16px;
}

#form{
  display: flex;
  justify-content: space-around;
}

input{
  width: 5em;
  transition: ease-in-out, width .35s ease-in-out;
}

input:focus, input:active{
  width: 12em;
}

textarea{
  width: 5em;
  transition: ease-in-out, width .35s ease-in-out;
}

textarea:focus, textarea:active{
  width: 15em;
  height: 10em;
}

.imgblock{
  width: 20em;
  height: 20em;
  margin-bottom: 3em;}

.imgblock:hover{
  animation: imagehover;
  animation-duration: 1s;
}

.container .jumbotron {
    border-radius: 6px !important;
}

.container .carousel {
  border-radius: 6px !important;
}

img{
  border-radius: 6px;
}

#homepage{
  background-image: url("./kayukayu.jpg");
  background-size: cover;
}

#get-margin-4{
  margin-top: 4rem;
}

#products{
  background-image: url(./products.jpg);
  background-size: cover;
  background-position: center;

}

#production{
  background-image: url(./production.jpg);
  background-size: cover;
  background-position: center;
}
